@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Thasadith:ital,wght@0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --green-lt: #b1ffb94a;
    --green-neutro: #37AC43;
    --green-dk: #277C30;
    --carter-font: 'Carter One', cursive;
    --p-font: 'Thasadith', sans-serif;
    --shadow: 2px 2px 2px #8080804d;
}

main {
    position: relative;
    overflow: clip;
}

header {
    position: absolute;
    top: 0;
    left: 2rem;
    background-color: var(--green-dk);
    padding: 1rem;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
header h1 , header p{
    font-family: var(--carter-font);
    color: white;
}

header h1 {
    font-size: 35px;
}

header p{
    font-size: 25px;
}

article, .form-section, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small {
    opacity: 0;
}

h2, p , img {
    z-index: 5;
}

.photo-title {
    background-color: white;
    font-family: var(--p-font);
    font-size: 15px;
    padding: 5px;
    color: var(--green-dk);
    border-radius: 5px;
    font-style: italic;
}

.cards-relative_container {
    position: relative;
    width: 100%;
    height: fit-content;
    /* border: 1px solid blue; */
    margin-top: -12rem;
}

.lots-cards_container {
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.lots-cards_container a {
    text-decoration: none;
    color: #000000;
}
.lot-card {
    max-width: 350px;
    height: 230px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    overflow: clip;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.705);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 350ms;
}
.lot-card:hover {
    transform: scale(1.1);
}
.lot-card h2 {
    width: 100%;
    background-color: #277C30;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--carter-font);
}

.lot-card .price-container {
    width: 100%;
    margin: 3rem 0;
    font-size: 2.5rem;
    font-family: var(--carter-font);
    color: #277C30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.lot-card .go-to_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    font-family: var(--p-font);
}
.go-to_container .iconify {
    font-size: 3.5rem;
    color: #ffffff;
}
.link-container {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    background: #277C30;
    padding: 5px;
    border-radius: 50px;
}


.img-one, .img-two , .img-four, .img-five , .img-seven , .img-eight{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    z-index: 10;
}
.img-one{
    background-image: url("./imgs/esquina-lote.jpg");
}
.img-two {
    background-image: url("./imgs/esquina-del-lote.jpg");
    margin-top: 3rem;
}

.img-three {
    width: 70%;
    height: 500px;
    background-image: url("./imgs/vista-completa-lote.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    border-radius: 10px;
}

.img-three, .img-six {
    margin: 2rem 0;
}

.img-four {
    background-image: url("./imgs/parte-media.jpg");
}

.img-five {
    background-image: url("./imgs/parte-inferior.jpg");
    margin-top: 3rem;
}

.img-six {
    width: 70%;
    position: relative;
    border-radius: 10px; 
    z-index: 10;
}
.img-six img {
    object-fit: contain;
    width: 100%;
}
#lot-mobile_img{
    display: none;
}
.img-six span{
    position: absolute;
    top: -1rem;
    left: 0;
    background: white;
    border: 1px solid grey;
    color: #277C30;
    width: fit-content;
    padding: .5rem;
    border-radius: 5px;
    font-style: italic;
    font-family: var(--p-font);
    font-size: 1.6rem;
}

.img-seven {
    background-image: url("./imgs/lote-lucerna-mitad.jpg");
}

.img-eight {
    background-image: url("./imgs/lote-lucerna.jpg");
    margin-top: 3rem;
}

.article-one, .article-two{
    position: relative;
    overflow-x: clip;
}
.article-one {
    margin-top: 5rem;
}
.article-one p strong {
    color: #0c8018;
}

.article-one::before{
    content: "";
    width: 700px;
    height: 700px;
    position: absolute;
    top: -8rem;
    right: -8rem;
    background-color: var(--green-lt);
    border-radius: 50%;
    z-index: -5;
}
.article-two::before{
    content: "";
    width: 700px;
    height: 700px;
    position: absolute;
    top: 6rem;
    left: -24rem;
    background-color: var(--green-lt);
    border-radius: 50%;
    z-index: 1;
}.article-two {
    border-top: 8px dotted var(--green-dk);
    padding-top: 2rem;
}

.lot-container {
    width: 70%;
    margin: 5rem auto;
}
.lot-container .h2-container {
    width: 100%;
    height: fit-content;
    border-bottom: 5px double green;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}
.lot-container h2 {
    align-self: flex-start;
    font-size: 4rem;
    font-family: var(--carter-font);
    background: #0c8018;
    color: white;
    padding: 0 8px;
    border-radius: 5px 5px 0 0;
    width: fit-content;
}
.measures-photo{
    width: 80% !important;
}
.lot-container img {
    width: 100%;
    margin: .5rem 0;
}

.form-section{
    position: relative;
    overflow-x: clip;
    padding-bottom: 6rem;
}
.form-section::before{
    content: "";
    width: 700px;
    height: 700px;
    position: absolute;
    top: -5rem;
    left: -42rem;
    background-color: var(--green-lt);
    border-radius: 50%;
    z-index: 1;
}
.form-section form {
    width: 80%;
    z-index: 10;
}

.form-section form input, .form-section form textarea{
    width: 370px;
    font-family: var(--p-font);
    font-size: 1.8rem;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid grey;
    outline-color: var(--green-neutro);
    caret-color: var(--green-neutro);
    box-shadow: var(--shadow);
}


#send-mail{
    width: fit-content;
    font-family: var(--carter-font);
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 2rem;
    color: #ffffff;
    background-color: var(--green-neutro);
    border-radius: 5px;
    border: none;
    box-shadow: var(--shadow);
    z-index: 5;
}


.modal-sent{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    color: var(--green-neutro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30rem;
    z-index: 10;
    border: 1px solid grey;
    display: none;
    background-color: var(--green-neutro);
    box-shadow: var(--shadow);
}

.check {
    font-size: 30px;
    margin-top: -2rem;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0 10px;
}
/* .modal-sent p{
    font-family: var(--carter-font);
    font-size: 25px;
    color: #ffffff;
    width: fit-content;
} */

#p-modal {
    font-family: var(--carter-font);
    font-size: 25px;
    color: #ffffff;
    width: fit-content;
}

.modal-show {
    display: flex;
    animation: show 3s forwards 1; 
}

#loader {
    width: 50px;
    height: 50px;
    border-left: 2px solid #ffffff;
    border-radius: 50%; 
    animation: rotate  500ms infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.title-two {
    font-family: var(--carter-font);
    font-size: 3rem;
    color: var(--green-neutro);
    margin-top: 1rem;
    text-align: center;
}

article p, .form-section p {
    width: 700px;
    margin: 2rem auto;
    font-family: var(--p-font);
    font-size: 2.2rem;
    color: #000000;
    text-align: center;
}
article img {
    width: 80%;
    border-radius: 10px;
}

.hero-property {
    background-image: url("./imgs/cabecera-lote.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
}
.property-features{
    width: 250px;
    background-color: #000000b3;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 12rem;
    left: 2rem;
    height: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
}

.property-features ul li {
    font-family: var(--p-font);
    font-size: 1.8rem;
    color: #ffffff;
    /* list-style: circle; */
    margin-left: 1.5rem;
}

.whatsapp-btn{
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    z-index: 50;
}

.whatsapp-btn a img{
    width: 70px;
    height: 70px;
}
.whatsapp-btn a {
    text-decoration: none;
}
.whatsapp-btn a p {
    font-family: var(--p-font);
    font-size: 12px;
    padding: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    border: 1.3px solid #80808047;
    box-shadow: var(--shadow);
    text-align: center;
}

footer {
    padding: 1rem;
    background: #277C30;
    /* margin-top: 2rem; */
}

footer p {
    font-size: 2rem;
    font-family: var(--p-font);
    color: white;
}


@media (max-width: 1289px) {
    .cards-relative_container {
        margin-top: -7rem;
    }
    .lot-card {
        width: 280px;
        height: 200px;
        font-size: 2.5rem !important;
    }
    .lot-card h2 {
        font-size: 2.5rem;
    }
    .lot-card .price-container {
        font-size: 2.5rem;
    }
    .lot-card .go-to_container p {
        font-size: 2rem;
    }
    .lot-card .go-to_container .iconify{
        font-size: 3rem;
    }

    .img-six {
        background-size: contain;
    }
}
@media (min-width: 1290px) {

    article p, .form-section p {
        font-size: 2.5rem; 
        width: 60%;
    } 

    .lot-card {
        width: 400px;
        height: 300px;
        font-size: 3.5rem !important;
    }
    .lot-card h2 {
        font-size: 3.5rem;
    }
    .lot-card .price-container {
        font-size: 3.5rem;
    }
    .lot-card .go-to_container p {
        font-size: 2.5rem;
    }
    .lot-card .go-to_container .iconify{
        font-size: 5rem;
    }
}


@media (max-width: 800px) {
    article p, .form-section p {
        width: 70%;
    }
    .article-one::before{
        content: "";
        width: 500px;
        height: 500px;
        right: -20rem;
    }
}

@media (max-width: 500px){

    header {
        left: 1rem;
    }

    .property-features{
        left: 1rem;
        bottom: 1rem;
    }

    .cards-relative_container {
        margin-top: -7rem;
    }
    
    .lot-card {
        width: 75%;
        width: 280px;
        height: 220px;
    }

    .lot-container {
        width: 90%;
        margin-top: 5rem;
    }

    .lot-container img {
        width: 100%;
    }

    #lot-desktop_img {
        display: none;
    }

    #lot-mobile_img{
        display: flex;
    }

    .whatsapp-btn {
        right: 0.5rem;
    }

    article img {
        width: 95%;
    }

    .img-three, .img-six {
        width: 90%;
    }

    .form-section form input , .form-section form textarea{
        width: 90%;
    }

}
